
.menu-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	/* Center items vertically */
	/* Full viewport height */
	gap: 20px;
}

.menu-button {
	display: block;
	width: 250px;
	padding: 20px;
	background-color: #0056b3;
	color: white;
	text-decoration: none;
	border-radius: 8px;
	transition: transform 0.2s;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	text-align: center;
}

.menu-button.highlighted {
	background-color: #FFD700;
	/* Accessible gold color */
	color: black;
	/* Ensure good text contrast */
	transform: scale(1.1);
	/* Slightly larger to make it more noticeable */
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
	/* Slight shadow for emphasis */
}

.menu-button:hover {
	transform: scale(1.05);
	background-color: #003d80;
}

.menu-content h2 {
	margin: 0;
	font-size: 24px;
}

.menu-content p {
	margin: 10px 0 0;
	font-size: 16px;
	/* normal line height is 1.3 */
	min-height: calc(1.3em * 1); /* 1 line */
}

.menu-button.disabled {
	background-color: #6096D0;
	transition: none;
	cursor: default;
}

.menu-button.disabled:hover {
	transform: scale(1.0);
	background-color: #6096D0;
}